<div class="container">
	<header class="header">
		<h1>&nbsp;</h1>
	</header>
	<div class="">
		<article class="col-sm-4"></article>
		<article class="col-sm-4">
			<!-- START Login form -->
			<div class="row">
				<!-- Login form -->
				<div>
					<div class="panel panel-form">
						<!-- Form header -->
						<div class="panel-heading">
							<p class="">{{serverDetails.appName}}</p>
						</div>
						<div class="panel-body">
							<form role="form">
								<!-- Username or email -->
								<div class="form-group">
									<label for="username" class="control-label">Username or email</label>
									<div class="has-feedback">
										<input type="text" class="form-control" ng-model="user.email">
										<span class="fa fa-user form-control-feedback" aria-hidden="true" style="margin-top: 10px"></span>
									</div>
								</div>
								<!-- Password -->
								<div class="form-group">
									<label for="password" class="control-label">Password</label>
									<div class="has-feedback">
										<input type="password" class="form-control" ng-model="user.password">
										<span class="fa fa-lock form-control-feedback" aria-hidden="true" style="margin-top: 10px"></span>
									</div>
								</div>
								<!-- Logun button -->
								<div class="form-group">
									<button type="button" class="btn btn-info btn-block" ng-click="login();">Login
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- END Login form -->
		</article>
		<div class="clearfix"></div>
	</div>
</div>
