<!DOCTYPE html>
<html ng-app="registration">
<head>
	<meta charset="UTF-8">
	<title><%= serverDetails.appName%> - <%= serverDetails.appVersion%></title>
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
	<link href="/resources/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="/resources/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="/resources/css/common.css" rel="stylesheet" type="text/css"/>
	<link href="/resources/css/signup.css" rel="stylesheet" type="text/css"/>
	<script src="/resources/js/jquery-1.11.3.min.js"></script>
	<script src="/resources/js/bootstrap.min.js"></script>
	<script src="/resources/js/bootbox.min.js"></script>
	<script src="/resources/Angular/lib/angular.min.js"></script>
	<script src="/resources/Angular/lib/angular-ui-router.min.js"></script>
	<script src="/resources/Angular/modules/helpers/app.js"></script>
	<script src="/resources/Angular/modules/helpers/services/utils.js"></script>
	<script src="/resources/Angular/modules/registration/app.js"></script>
	<script src="/resources/Angular/modules/registration/controllers/registration.controller.js"></script>
	<script>
		var serverDetails = JSON.parse('<%-JSON.stringify(serverDetails)%>');
	</script>
</head>
<body>
<ui-view></ui-view>
<ng-include src="serverDetails.contextPath+'/resources/Angular/modules/helpers/templates/success_error.html'"></ng-include>
</body>
</html>