.btn,.modal-content,.box,.info-box,.info-box-icon,.direct-chat-text
{
    border-radius: 0px !important;
}
.direct-chat-text
{
    background: #f2f2f2 !important;
}
.margin-left-0{
    margin-left: 0px !important;
}
.onhoverpointer:hover
{
    cursor: pointer;
}
.beforenone:before{
    border: none !important;
}
.afternone:before{
    border: none !important;
}
a:hover,input[type="file"]{cursor: pointer !important}
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top30 { margin-top:30px; }
.nobordertop
{
    border-top: none !important;
}
table thead tr th{text-transform: uppercase !important;}
.info-box:hover{cursor: pointer;box-shadow: 0 0 2px #00c0ef}
.skin-blue-light .content-header {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 8px 6px -9px black;
}
.info-box{
    border:1px solid #ddd
}
.close {
    float: right !important;
    font-size: 20px !important;
    font-weight: bold !important;
    line-height: 18px !important;
    color: #000000 !important;
    text-shadow: 0 1px 0 #ffffff !important;
    opacity: 0.2 !important;
    filter: alpha(opacity=20) !important;
}
.close:hover {
    color: #000000 !important;
    text-decoration: none !important;
    opacity: 0.4 !important;
    filter: alpha(opacity=40) !important;
    cursor: pointer !important;
}

.alert {
    padding: 8px 35px 8px 14px !important;
    margin-bottom: 18px !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) !important;
    background-color: #fcf8e3 !important;
    border: 1px solid #fbeed5 !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 0px !important;
    color: #c09853 !important;
}
.alert-heading {
    color: inherit !important;
}
.alert a
{
    text-decoration: none !important;
}
.alert .close {
    position: relative !important;
    top: -2px !important;
    right: -21px !important;
    line-height: 18px !important;
}
.alert-success {
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
    color: #468847 !important;
}
.alert-danger,
.alert-error {
    background-color: #f2dede !important;
    border-color: #eed3d7 !important;
    color: #b94a48 !important;
}
.alert-info {
    background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
    color: #3a87ad !important;
}
.alert-block {
    padding-top: 14px !important;
    padding-bottom: 14px !important;
}
.alert-block > p,
.alert-block > ul {
    margin-bottom: 0 !important;
}
.alert-block p + p {
    margin-top: 5px !important;
}
.info-box-icon
{
    width: 60px !important;
    height: 60px !important;
    line-height: normal !important;
    margin-left: 10px !important;
}
.content-header > h1
{
    font-size: 16px !important;
    text-transform: uppercase !important;
}
.breadcrumb{border-radius: 0px !important;}
.no-box-shadow{box-shadow: none !important;}
.celloverflow{
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pointer:hover,i:hover
{
    cursor: pointer;
}
.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 16px; height: 16px; display: block; background: #09B4AC; top: 45px; left: 50%; margin-top: -7px; margin-left: -8px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0; background-color: #e5e5e5; overflow: hidden;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #09B4AC;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #e5e5e5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/
.timeline > li > .timeline-item
{
    box-shadow: none !important;
    border:1px solid #e4e4e4;
}
.alert-basic
{
    border: 1px solid #e4e4e4;
    background: #f2f2f2 !important;
    margin: 3px 0px 3px 0px;
    padding: 3px 0px 3px 10px;
}
.filterslable
{
    font-size: 13px;
    font-weight: normal;
    color: #333;
}
.skin-blue-light .sidebar-menu > li.active > a
{
    background: #e4e4e4 !important;
    border-right: 4px solid #ccc !important;
}
.rectangle-box-category {
    position: relative;
    width: 100%;
    height: 40px;
    overflow: hidden;
    background: #f2f2f2;
    margin-top: 15px;
    vertical-align: bottom;
    border: 1px solid #cccccc;
}
.rectangle-box-category:before {
    content: "";
    display: block;
    padding-top: 50%;
}
.rectangle-content-category {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.rectangle-content-category div {
    display: table;
    width: 100%;
    height: 100%;
}
.rectangle-content-category p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #666;
}
.main-header .logo .logo-lg {
    font-family: cursive;
}