body {
    font-family: Gafata, 'Open Sans', Arial, sans-serif;
}

h2 {
    margin: 0 0 30px;
}

h3 {
    margin: 0 0 20px;
}

.header h1 {
    font-size: 36px;
    line-height: 50px;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.content {
    margin-bottom: 50px;
    padding: 50px 0;
    border: 1px solid #eee;
    border-bottom-width: 5px;
    background: #fff;
}

/* ========================================================
	Flat form with Bootstrap 3

	Version:		1.1
	Last change:	07.12.2014
	Author:			David Tovt

====[ LAYOUT ]=============================================

	- Defaults
	- Horizontal form
	- Input with icons
	- File input
	- Select
	- Checkbox, radio and toggles
		- Checkbox and radio
		- Toggles
	- Ratings
	- Buttons
	- Alerts
	- Panel
	- Tooltip and help icon
	- Cart

======================================================== */

/*
	Defaults
*/

a,
.btn-link {
    color: #3fc0eb;
}

a:hover,
.btn-link:hover {
    text-decoration: none;
    color: #999;
}

fieldset {
    margin: 0 0 30px;
}

fieldset legend {
    padding: 5px 0;
    font-size: 18px;
}

label {
    margin: 0;
    font-weight: normal;
}

.strong {
    font-weight: bold;
}

.form-group:after {
    content: '';
    display: table;
    clear: both;
}

.control-label {
    display: block;
    padding: 6px;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: normal;
    color: #999;
    background: rgba(0, 0, 0, 0.014);
}

.control-label.control-label-sm {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 20px;
    font-size: 11px;
}

.control-label.control-label-lg {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 26px;
    font-size: 14px;
}

label .additional,
.control-label .additional {
    color: #999;
}

.form-control {
    font-weight: normal;
    border: 1px solid #ddd;
    -webkit-box-shadow:	none !important;
    -moz-box-shadow:	none !important;
    box-shadow:			none !important;
    -webkit-border-radius:	0 !important;
    -moz-border-radius:		0 !important;
    border-radius:			0 !important;
}

.form-control:focus {
    border-color: #4fd0fb;
}

.help-block {
    font-size: 12px;
    margin: 2px 0 0;
    color:#999;
}

.required-field {
    display: inline;
    font-size: 18px;
    line-height: 12px;
    color: #f45858;
}

/*
	Horizontal form
*/

.form-horizontal .control-label {
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}

.form-horizontal .has-feedback .form-control-feedback {
    right: 0;
}

/*
	Input with icons
*/

.form-control-feedback {
    color: #ccc;
}

.has-feedback.has-left-icon .form-control {
    padding-left: 42.5px;
    padding-right: 12px;
}

.has-feedback.has-left-icon .form-control-feedback {
    left: 0;
    right: auto;
}

.has-success .form-control { border-color: #0ac964; }
.has-success .form-control-feedback { color: #0ac964; }

.has-warning .form-control { border-color: #c19716; }
.has-warning .form-control-feedback { color: #c19716; }

.has-error .form-control { border-color: #f45858; }
.has-error .form-control-feedback { color: #f45858; }


/*
	Checkbox, radio and toggles
*/

.radio-inline,
.checkbox-inline {
    padding: 0;
}

label.custom-option {
    position: relative;
    display: inline-block;
    padding: 0;
    height: 20px;
    vertical-align: top;
}

label.custom-option + label {
    padding: 0 10px;
}

label.custom-option input[type="checkbox"],
label.custom-option input[type="radio"],
label.custom-option .button-checkbox,
label.custom-option .button-radio {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

label.custom-option input[type="checkbox"],
label.custom-option input[type="radio"] {
    margin: 0;
    opacity: 0;
}

label.custom-option .button-checkbox,
label.custom-option .button-radio {
    border: 1px solid #ccc;
    background: #fff;
}

label.custom-option input[type="checkbox"]:checked + .button-checkbox,
label.custom-option input[type="radio"]:checked+ .button-radio {
    border-color: #4fd0fb;
}

label.custom-option input[type="checkbox"] + .button-checkbox:after,
label.custom-option input[type="radio"] + .button-radio:after {
    position: absolute;
    content: '';
    z-index: 2;
}

label.custom-option .button-radio,
label.custom-option .button-radio:after {
    -webkit-border-radius:	20px;
    -moz-border-radius:		20px;
    border-radius:			20px;
}

/* Checkbox and radio */
label.custom-option {
    width: 20px;
}

label.custom-option.button input[type="checkbox"] + .button-checkbox:after,
label.custom-option.button input[type="radio"] + .button-radio:after {
    display: none;
    top: 5px;
    bottom: 5px;
    left: 5px;
    width: 8px;
    background: #4fd0fb;
}

label.custom-option.button input[type="checkbox"]:checked + .button-checkbox:after,
label.custom-option.button input[type="radio"]:checked + .button-radio:after {
    display: block;
}

/* Toggles */
label.custom-option.toggle {
    width: 46px;
}

label.custom-option.toggle:before,
label.custom-option.toggle:after {
    position: absolute;
    top: 1px;
    width: 24px;
    font-size: 8px;
    line-height: 19px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #777;
    z-index: 1;
}

label.custom-option.toggle:before {
    content: attr(data-on);
    left: 1px;
}

label.custom-option.toggle:after {
    content: attr(data-off);
    right: 1px;
}

label.custom-option.toggle input[type="checkbox"] + .button-checkbox:after,
label.custom-option.toggle input[type="radio"] + .button-radio:after {
    display: block;
    top: 1px;
    bottom: 1px;
    left: 1px;
    width: 20px;
    background: #ccc;
    -webkit-transition:	all 0.3s;
    -moz-transition:	all 0.3s;
    transition:			all 0.3s;
}

label.custom-option.toggle input[type="checkbox"]:checked + .button-checkbox:after,
label.custom-option.toggle input[type="radio"]:checked + .button-radio:after {
    left: 23px;
    background: #4fd0fb;
}

/*
	Panel
*/

.panel.panel-form {
    border: 1px solid #e6e6e6;
}

.panel.panel-form,
.panel.panel-form .panel-heading,
.panel.panel-form .panel-footer {
    -webkit-border-radius:	0;
    -moz-border-radius:		0;
    border-radius:			0;
}

.panel.panel-form .panel-heading {
    text-align: center;
    border-bottom: 7px solid #eee;
    color: #d6f5ff;
    background: #39bbdb;
}

.panel.panel-form .panel-heading a {
    color: #fff;
    text-decoration: underline;
}

.panel.panel-form .panel-heading a:hover {
    text-decoration: none;
}

.panel.panel-form .panel-heading p {
    margin: 0;
}

.panel.panel-form .panel-heading .title {
    position: relative;
    margin: 0 0 10px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.panel.panel-form .panel-heading .title:before {
    position: absolute;
    content: '';
    bottom: -8px;
    left: 50%;
    width: 30px;
    height: 0;
    margin-left: -15px;
    border-bottom: 1px solid rgba(100%, 100%, 100%, 0.3);
}

.panel.panel-form .panel-body {
    padding: 30px;
    background: #fcfcfc;
}

.panel.panel-form .panel-footer {
    border-top: 1px solid #e6e6e6;
    color: #aaa;
    background: #f6f6f6;
}