<div id="errorMessage" class="row" style="top: 0px;position: fixed;z-index: 9999;display: none;width: 100%">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<div class="alert alert-danger alert-dismissable">
			<strong>
				<i class="fa fa-warning"></i>
				Warning!
			</strong>
			{{error.message}}
		</div>
	</div>
	<div class="col-sm-3"></div>
</div>
<div id="successMessage" class="row" style="top: 0px;position: fixed;z-index: 9999;display: none;width: 100%">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<div class="alert alert-success alert-dismissable">
			<strong>
				<i class="fa fa-check"></i>
				Success!
			</strong>
			{{success.message}}
		</div>
	</div>
	<div class="col-sm-3"></div>
</div>