<!DOCTYPE html>
<html ng-app="triage">
<head>
	<meta charset="UTF-8">
	<title><%= serverDetails.appName%> - <%= serverDetails.appVersion%></title>
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
	<link href="/resources/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="/resources/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="/resources/css/AdminLTE.css" rel="stylesheet" type="text/css"/>
	<link href="/resources/css/skin-blue-light.css" rel="stylesheet" type="text/css"/>
	<link href="/resources/css/common.css" rel="stylesheet" type="text/css"/>
	<script src="/resources/js/jquery-1.11.3.min.js"></script>
	<script src="/resources/js/bootstrap.min.js"></script>
	<script src="/resources/js/bootbox.min.js"></script>
	<script src="/resources/js/underscore-min.js"></script>
	<script src="/resources/Angular/lib/angular.min.js"></script>
	<script src="/resources/Angular/lib/angular-ui-router.min.js"></script>
	<script src="/resources/Angular/lib/socket.io-1.4.3.js"></script>
	<script src="/resources/Angular/modules/helpers/app.js"></script>
	<script src="/resources/Angular/modules/helpers/directives.js"></script>
	<script src="/resources/Angular/modules/helpers/services/utils.js"></script>
	<script src="/resources/Angular/modules/helpers/services/portalServices.js"></script>
	<script src="/resources/Angular/modules/triage/app.js"></script>
	<script src="/resources/Angular/modules/triage/controllers/triage.dashboard.home.controller.js"></script>
	<script src="/resources/Angular/modules/triage/controllers/triage.dashboard.mywork.controller.js"></script>
	<script src="/resources/Angular/modules/triage/controllers/triage.dashboard.project.controller.js"></script>
	<script src="/resources/Angular/modules/triage/controllers/triage.dashboard.project.bugs.home.controller.js"></script>
	<script src="/resources/Angular/modules/triage/controllers/triage.dashboard.project.bugs.create.controller.js"></script>
	<script src="/resources/Angular/modules/triage/controllers/triage.dashboard.project.bugs.edit.controller.js"></script>
	<script src="/resources/Angular/modules/triage/controllers/triage.dashboard.project.users.home.controller.js"></script>
	<script src="/resources/Angular/modules/triage/controllers/triage.dashboard.project.triage.controller.js"></script>
	<script src="/resources/Angular/modules/triage/controllers/triage.dashboard.project.closed.controller.js"></script>
	<script>
		var serverDetails = JSON.parse('<%-JSON.stringify(serverDetails)%>');
		var user = JSON.parse('<%-JSON.stringify(user)%>');
		var authToken = JSON.parse('<%-JSON.stringify(authToken)%>');
	</script>
</head>
<body class="sidebar-mini skin-blue-light">
<div class="wrapper">
	<ui-view></ui-view>
	<ng-include src="serverDetails.contextPath+'/resources/Angular/modules/helpers/templates/success_error.html'"></ng-include>
</div>
</body>
</html>