<div class="row top10" style="background-color: #f2f2f2;border: 1px solid #e4e4e4">
	<div class="col-sm-12">
		<div class="col-sm-3">
			<div class="form-group">
				<label for="exampleInputPassword1" class="filterslable">Severity</label>
				<select class="form-control" ng-model="filters.severity">
					<option value="">All</option>
					<option value="low">Low</option>
					<option value="medium">Medium</option>
					<option value="high">High</option>
					<option value="critical">Critical</option>
					<option value="blocker">Blocker</option>
				</select>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="form-group">
				<label for="exampleInputPassword1" class="filterslable">Created By User</label>
				<select class="form-control" ng-model="filters.created_by" ng-options="user._id as user.name for user in projectUsers">
					<option value="">All</option>
				</select>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="form-group">
				<label>&nbsp;</label>
				<button class="btn btn-info btn-block" ng-click="getTriagedBugs(1);">Search</button>
			</div>
		</div>
	</div>
</div>
<div class="row top20">
	<div class="col-sm-12 top10" ng-if="bugs.length == 0">
		<div class="col-sm-12" style="background-color: #f2f2f2;border: 1px solid #e4e4e4;padding: 10px;text-align: center">
			No Results Found
		</div>
	</div>
	<div class="col-sm-12 top20" style="height: 300px;overflow: auto" ng-if="bugs.length > 0">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
			<tr>
				<th style="width: 5%">S.No</th>
				<th style="width: 10%">Id</th>
				<th style="width: 60%">title</th>
				<th style="width: 10%">severity</th>
				<th style="width: 15%">created by</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="bug in bugs track by $index">
				<td>{{$index+1}}</td>
				<td>
					<a ui-sref="^.bugs.edit({'projectid':currentProjectId,'bugid':bug._id})">
						{{bug.identifier}}
					</a>
				</td>
				<td class="celloverflow pointer" title="{{bug.title}}">{{bug.title}}</td>
				<td>{{bug.severity}}</td>
				<td class="celloverflow">{{bug.created_by.name}}</td>
			</tr>
		</table>
	</div>
	<div class="col-sm-12" ng-if="pages.length > 1">
		<div class="page-nation pull-right">
			<ul class="pagination pagination-large">
				<li class="pagenumbers" ng-repeat="page in pages track by $index" ng-click="getTriagedBugs(page);" ng-class="{'active':currentPage == page}">
					<span style="border-radius: 0px !important;" class="onhoverpointer">{{page}}</span>
				</li>
			</ul>
		</div>
	</div>
</div>






