<div class="row">
	<div class="col-sm-12">
		<ol class="breadcrumb">
			<li>
				<a ui-sref="^.home">Bugs</a>
			</li>
			<li class="active">{{bug.identifier}}</li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<!-- Custom Tabs -->
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li class="active">
					<a aria-expanded="true" data-toggle="tab" data-target="#bug_details">
						<i class="fa fa-envelope-o"></i>
						Details
					</a>
				</li>
				<li>
					<a aria-expanded="true" data-toggle="tab" data-target="#bug_comments">
						<i class="fa fa-commenting-o"></i>
						Comments
					</a>
				</li>
				<li>
					<a aria-expanded="true" data-toggle="tab" data-target="#bug_activity_log">
						<i class="fa fa-info-circle"></i>
						Activity Log
					</a>
				</li>
				<li>
					<a aria-expanded="true" data-toggle="tab" data-target="#bug_screenshots">
						<i class="fa fa-picture-o"></i>
						Screenshots
					</a>
				</li>
				<li>
					<a aria-expanded="true" data-toggle="tab" data-target="#bug_attachments">
						<i class="fa fa-file"></i>
						Attachments
					</a>
				</li>
				<li>
					<a aria-expanded="true" data-toggle="tab" data-target="#bug_workflow">
						<i class="fa fa-tasks"></i>
						Workflow
					</a>
				</li>
				<li ng-if="bug.current_user._id == user._id && bug.workflow_queue == 'perform'">
					<a aria-expanded="true" data-toggle="tab" data-target="#bug_resolve">
						<i class="fa fa-hourglass-half"></i>
						Resolve
					</a>
				</li>
				<li ng-if="bug.current_user._id == user._id && bug.workflow_queue == 'verifyandclose'">
					<a aria-expanded="true" data-toggle="tab" data-target="#bug_verify">
						<i class="fa fa-eye"></i>
						Verify
					</a>
				</li>
				<li ng-if="bug.workflow_queue == 'closed'">
					<a aria-expanded="true" data-toggle="tab" data-target="#bug_reopen">
						<i class="fa fa-refresh"></i>
						Re-open
					</a>
				</li>
				<li ng-if="bug.workflow_queue == 'triage' && (user.role == 'admin' || user.role == 'triage')">
					<a aria-expanded="true" data-toggle="tab" data-target="#bug_assign">
						<i class="fa fa-sign-out"></i>
						Assign
					</a>
				</li>
			</ul>
			<div class="tab-content" style="min-height: 500px !important;">
				<div class="tab-pane active" id="bug_details">
					<div class="row">



						<div class="col-sm-12">

							<div class="col-sm-6">
								<div class="form-group">
									<label for="exampleInputEmail1">Title</label>
									<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Title" ng-model="bug.title">
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-group">
									<label for="exampleInputPassword1">Severity</label>
									<select class="form-control" ng-model="bug.severity">
										<option value="">Please Select</option>
										<option value="low">Low</option>
										<option value="medium">Medium</option>
										<option value="high">High</option>
										<option value="critical">Critical</option>
										<option value="blocker">Blocker</option>
									</select>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-group">
									<label for="exampleInputEmail1">Current User</label>
									<div class="form-control">{{bug.current_user.name}}</div>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-group">
									<label for="exampleInputEmail1">Workflow Queue</label>
									<div class="form-control">{{bug.workflow_queue}}</div>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-group">
									<label for="exampleInputPassword1">Description</label>
									<textarea ng-model="bug.description" placeholder="Description" class="form-control" style="height: 135px"></textarea>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-group">
									<label for="exampleInputPassword1">Steps To Reproduce</label>
            <textarea ng-model="bug.steps_to_reproduce" placeholder="Steps To Reproduce" class="form-control"
					  style="height: 135px"></textarea>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-group">
									<label for="exampleInputEmail1">Created by</label>
									<div class="form-control">{{bug.created_by.name}}</div>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-group">
									<label for="exampleInputEmail1">Found in Build</label>
									<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Build Number"
										   ng-model="bug.found_in_build">
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-group">
									<label for="exampleInputPassword1">Regression</label>
									<select class="form-control" ng-model="bug.regression" ng-options="opt as opt for opt in [true,false]">
									</select>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-group">
									<label for="exampleInputEmail1">Created at</label>
									<div class="form-control"><format-date data-date="{{bug.created_at}}"></format-date></div>
								</div>
							</div>

							<div class="col-sm-6" ng-if="currentProject.settings.config.enable_categories">
								<div class="form-group">
									<label for="exampleInputPassword1">Category</label>
									<select class="form-control" ng-model="bug.category" ng-options="cat._id as cat.name for cat in currentProject.settings.categories">
										<option value="">Please Select</option>
									</select>
								</div>
							</div>

							<div class="col-sm-6" ng-if="currentProject.settings.config.enable_releases">
								<div class="form-group">
									<label for="exampleInputPassword1">Target Release</label>
									<select class="form-control" ng-model="bug.target_release" ng-options="release._id as release.name for release in currentProject.settings.releases">
										<option value="">Please Select</option>
									</select>
								</div>
							</div>

						</div>


					</div>
					<div class="row">
						<div class="col-sm-4 pull-right">
							<button class="btn btn-info btn-block" ng-click="saveBugDetails();">
								<i class="fa fa-save"></i>
								Save
							</button>
						</div>
						<div class="col-sm-4 pull-right">
							<a ui-sref="^.home({'projectid':currentProjectId})" class="btn pull-right">Cancel</a>
						</div>
					</div>
				</div>
				<!-- /.tab-pane -->
				<div class="tab-pane" id="bug_comments">
					<div class="row">
						<div class="col-sm-12">
							<textarea ng-model="newComment.comment" style="height: 100px" class="form-control" placeholder="Add Comment"></textarea>
						</div>
					</div>
					<div class="row top20">
						<div class="col-sm-3 pull-right">
							<button class="btn btn-info pull-right btn-block" ng-click="addComment();">
								<i class="fa fa-plus"></i>
								Add Comment
							</button>
						</div>
					</div>
					<div class="row top20">
						<div class="col-sm-12">
							<ul class="timeline">
								<li ng-repeat="comment in bug.comments track by $index">
									<i class="fa fa-comments bg-yellow"></i>
									<div class="timeline-item">
										<span class="time"><i class="fa fa-clock-o"></i> <format-date data-date="{{comment.on}}"></format-date></span>
										<h3 class="timeline-header">
											<a>{{comment.by}}</a>
											<span style="font-size: 12px"> - {{comment.type}}</span>
										</h3>
										<div class="timeline-body">
											{{comment.comment}}
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!--tab pane-->
				<div class="tab-pane" id="bug_activity_log">
					<div class="row top20">
						<div class="col-sm-12" ng-repeat="activity in bug.activity_log track by $index">
							<div class="alert-basic">{{activity}}</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="bug_screenshots">
					<div class="row top20">
						<div class="col-sm-4">
							<button class="btn btn-info btn-block" onclick="$('#screenshotFile').trigger('click')">
								<i class="fa fa-upload"></i>
								Upload Screenshot
							</button>
						</div>
						<div class="col-sm-12" style="display: none">
							<form class="col-sm-4">
								<input type="file" id="screenshotFile" class="form-control" onchange="angular.element(this).scope().uploadScreenshot(this)" ng-model-instant>
							</form>
						</div>
					</div>
					<div class="row top20">
						<div class="col-md-6" ng-repeat="screenshot in bug.screenshots track by $index">
							<!-- Box Comment -->
							<div class="box box-widget">
								<div class="box-header with-border">
									<div class="user-block">
										<img class="img-circle" src="/resources/images/avatar5.png" alt="user image">
										<span class="username"><a>{{screenshot.by}}</a></span>
										<span class="description">{{screenshot.on}} &nbsp;&nbsp;<i ng-click="deleteScreenshot(screenshot);" class="fa fa-trash" style="color: palevioletred;" ng-if="screenshot.by_id == user._id"></i></span>
									</div>
									<!-- /.user-block -->
								</div>
								<!-- /.box-header -->
								<div class="box-body">
									<img class="img-responsive pad" ng-src="{{'/uploads/screenshots/' + screenshot.filename}}" alt="Photo">
								</div>
								<!-- /.box-body -->
							</div>
							<!-- /.box -->
						</div>
					</div>
				</div>

				<div class="tab-pane" id="bug_attachments">
					<div class="row top20">
						<div class="col-sm-4">
							<button class="btn btn-info btn-block" onclick="$('#attachmentFile').trigger('click')">
								<i class="fa fa-upload"></i>
								Upload Attachment
							</button>
						</div>
						<div class="col-sm-12" style="display: none">
							<form class="col-sm-4">
								<input type="file" id="attachmentFile" class="form-control" onchange="angular.element(this).scope().uploadAttachment(this)" ng-model-instant>
							</form>
						</div>
					</div>
					<div class="row top20">
						<div class="col-sm-12">

							<div class="col-sm-6" ng-repeat="attachment in bug.attachments track by $index">
								<div class="box box-primary" style="border: none;border: 1px solid #e4e4e4;background: #f2f2f2">
									<div class="box-header with-border">
										<h3 class="box-title" style="font-size: 12px">{{attachment.filename}}</h3>
										<span class="pull-right"><a href="{{serverDetails.contextPath}}/uploads/attachments/{{attachment.filename}}" target="_blank">download</a></span>
									</div><!-- /.box-header -->
									<div class="box-body">
										<p>{{attachment.by}} &nbsp; - &nbsp;{{attachment.on}}</p>
									</div><!-- /.box-body -->
								</div><!-- /.box -->
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane" id="bug_workflow">
					<div class="row bs-wizard" style="border-bottom:0;">
						<div class="col-xs-2 bs-wizard-step complete">
							<div class="text-center bs-wizard-stepnum">Created By</div>
							<div class="progress">
								<div class="progress-bar"></div>
							</div>
							<a class="bs-wizard-dot"></a>
							<div class="bs-wizard-info text-center">
								{{bug.created_by.name}}
							</div>
						</div>
						<div class="col-xs-2 bs-wizard-step" ng-class="{'active':bug.workflow_queue == 'triage','complete':bug.workflow_queue != 'triage'}">
							<!-- complete -->
							<div class="text-center bs-wizard-stepnum">Triage</div>
							<div class="progress">
								<div class="progress-bar"></div>
							</div>
							<a class="bs-wizard-dot"></a>
							<div class="bs-wizard-info text-center">
							</div>
						</div>
						<div class="col-xs-2 bs-wizard-step" ng-class="{'active':bug.workflow_queue == 'perform','complete':bug.workflow_queue == 'verifyandclose' || bug.workflow_queue == 'closed'}">
							<!-- complete -->
							<div class="text-center bs-wizard-stepnum">Perform</div>
							<div class="progress">
								<div class="progress-bar"></div>
							</div>
							<a class="bs-wizard-dot"></a>
							<div class="bs-wizard-info text-center" ng-if="bug.workflow_queue != 'triage'">
								<select ng-disabled="bug.workflow_queue != 'perform'" ng-model="bug.perform_user" class="form-control" ng-options="user._id as user.name for user in projectUsers">
									<option value="">Please Select</option>
								</select>
							</div>
						</div>
						<div class="col-xs-2 bs-wizard-step" ng-class="{'active':bug.workflow_queue == 'verifyandclose','complete':bug.workflow_queue == 'closed'}">
							<!-- active -->
							<div class="text-center bs-wizard-stepnum">Verify & Close</div>
							<div class="progress">
								<div class="progress-bar"></div>
							</div>
							<a class="bs-wizard-dot"></a>
							<div class="bs-wizard-info text-center" ng-if="bug.workflow_queue != 'triage'">
								<select ng-disabled="bug.workflow_queue != 'verifyandclose' && bug.workflow_queue != 'perform'"  ng-model="bug.should_be_verified_by" class="form-control" ng-options="user._id as user.name for user in projectUsers">
									<option value="">Please Select</option>
								</select>
							</div>
						</div>
						<div class="col-xs-2 bs-wizard-step" ng-class="{'complete':bug.workflow_queue == 'closed'}">
							<!-- active -->
							<div class="text-center bs-wizard-stepnum">Closed
								<i class="fa fa-check-circle" style="color: green;" ng-if="bug.status == 'closed'"></i>
							</div>
							<div class="progress">
								<div class="progress-bar"></div>
							</div>
							<a class="bs-wizard-dot"></a>
							<div class="bs-wizard-info text-center" ng-if="bug.status == 'closed'">
								<select ng-model="bug.verified_by" class="form-control" ng-options="user._id as user.name for user in projectUsers" disabled>
									<option value="">None</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<button class="btn btn-info pull-right btn-block" ng-click="updateWorkflow();" ng-if="bug.workflow_queue != 'triage'">
								<i class="fa fa-save"></i>
								Save
							</button>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="bug_assign">
					<div class="row top20">
						<div class="col-sm-4">
							<select class="form-control" ng-options="user._id as user.name for user in projectUsers" ng-model="metaData.current_user">
								<option value="">Select User</option>
							</select>
						</div>
						<div class="col-sm-3">
							<button ng-click="assignBugToUser();" class="btn btn-info btn-block">
								<i class="fa fa-sign-out"></i>
								Assign
							</button>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="bug_resolve">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="exampleInputEmail1">Resolution Status</label>
								<select ng-model="bug.resolution_status" class="form-control">
									<option value="">Please Select</option>
									<option value="fixed">Fixed</option>
									<option value="rejected">Rejected</option>
									<option value="cannotbefixed">Cannot be Fixed</option>
								</select>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Fixed in Build</label>
								<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Fixed in Build" ng-model="bug.fixed_in_build">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Resolution Message</label>
								<textarea placeholder="Resolution Message" class="form-control" ng-model="bug.resolution_message"></textarea>
							</div>
							<div class="form-group">
								<button class="btn btn-info pull-right btn-block" ng-click="routeBug();">Route
									<i class="fa fa-chevron-circle-right"></i>
								</button>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="exampleInputEmail1">Rejection Message</label>
								<textarea placeholder="Rejection Comment" class="form-control" ng-model="metaData.rejectionMessage"></textarea>
							</div>
							<div class="form-group">
								<button class="btn btn-warning btn-block pull-right" ng-click="rejectBug();">
									<i class="fa fa-chevron-circle-left"></i>
									Reject
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="bug_verify">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="exampleInputEmail1">Resolution Status</label>
								<select ng-model="bug.resolution_status" disabled class="form-control">
									<option value="">Please Select</option>
									<option value="fixed">Fixed</option>
									<option value="rejected">Rejected</option>
									<option value="cannotbefixed">Cannot be Fixed</option>
								</select>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Fixed in Build</label>
								<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Fixed in Build" ng-model="bug.fixed_in_build">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Verification Message</label>
								<textarea placeholder="Verification Message" class="form-control" ng-model="metaData.verificationMessage"></textarea>
							</div>
							<div class="form-group">
								<button class="btn btn-info btn-block pull-right" ng-click="bugVerified();">
									<i class="fa fa-check-circle"></i>
									Verified
								</button>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="exampleInputEmail1">Rejection Message</label>
								<textarea placeholder="Rejection Message" class="form-control" ng-model="metaData.rejectionMessage"></textarea>
							</div>
							<div class="form-group">
								<button class="btn btn-warning btn-block pull-right" ng-click="rejectBug();">
									<i class="fa fa-chevron-circle-left"></i>
									Reject
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="bug_reopen">
					<div class="row">
						<div class="col-sm-12">
							<textarea placeholder="Re-open Message" ng-model="metaData.reopenMessage" style="height: 100px" class="form-control"></textarea>
						</div>
					</div>
					<div class="row top20">
						<div class="col-sm-3 pull-right">
							<button class="btn btn-info pull-right btn-block" ng-click="reopenBug();">
								<i class="fa fa-repeat"></i>
								Re-open
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /.tab-content -->
		</div>
		<!-- nav-tabs-custom -->
	</div>
</div>

