<div class="row">
	<div class="col-sm-12">
		<ol class="breadcrumb">
			<li>
				<a ui-sref="^.home">Bugs</a>
			</li>
			<li class="active">Create New Bug</li>
		</ol>
	</div>
</div>
<div class="row">



	<div class="col-sm-12">

		<div class="col-sm-6">
			<div class="form-group">
				<label for="exampleInputEmail1">Title</label>
				<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Title" ng-model="bug.title">
			</div>
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label for="exampleInputPassword1">Severity</label>
				<select class="form-control" ng-model="bug.severity">
					<option value="">Please Select</option>
					<option value="low">Low</option>
					<option value="medium">Medium</option>
					<option value="high">High</option>
					<option value="critical">Critical</option>
					<option value="blocker">Blocker</option>
				</select>
			</div>
		</div>


		<div class="col-sm-6">
			<div class="form-group">
				<label for="exampleInputEmail1">Found in Build</label>
				<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Build Number"
					   ng-model="bug.found_in_build">
			</div>
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label for="exampleInputPassword1">Regression</label>
				<select class="form-control" ng-model="bug.regression" ng-options="opt as opt for opt in [true,false]">
				</select>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label for="exampleInputPassword1">Description</label>
            <textarea ng-model="bug.description" placeholder="Description" class="form-control"
					  style="height: 135px"></textarea>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label for="exampleInputPassword1">Steps To Reproduce</label>
            <textarea ng-model="bug.steps_to_reproduce" placeholder="Steps To Reproduce" class="form-control"
					  style="height: 135px"></textarea>
			</div>
		</div>

		<div class="col-sm-6" ng-if="currentProject.settings.config.enable_categories">
			<div class="form-group">
				<label for="exampleInputPassword1">Category</label>
				<select class="form-control" ng-model="bug.category" ng-options="cat._id as cat.name for cat in currentProject.settings.categories">
					<option value="">Please Select</option>
				</select>
			</div>
		</div>

		<div class="col-sm-6" ng-if="currentProject.settings.config.enable_releases">
			<div class="form-group">
				<label for="exampleInputPassword1">Target Release</label>
				<select class="form-control" ng-model="bug.target_release" ng-options="release._id as release.name for release in currentProject.settings.releases">
					<option value="">Please Select</option>
				</select>
			</div>
		</div>


	</div>




</div>
<div class="row">
	<div class="col-sm-4 pull-right">
		<button class="btn btn-info btn-block" ng-click="createBug();">Create</button>
	</div>
	<div class="col-sm-4 pull-right">
		<a ui-sref="^.home({'projectid':currentProjectId})" class="btn pull-right">Cancel</a>
	</div>
</div>

