<div class="row top10">
	<div class="col-sm-3">
		<button class="btn btn-info btn-block" ui-sref="^.create({'projectid':currentProjectId})">
			<i class="fa fa-plus"></i>
			Create New Bug
		</button>
	</div>
</div>
<div class="row top10" style="background-color: #f2f2f2;border: 1px solid #e4e4e4">
	<div class="col-sm-12">
		<div class="col-sm-2">
			<div class="form-group">
				<label for="exampleInputPassword1" class="filterslable">Severity</label>
				<select class="form-control" ng-model="filters.severity">
					<option value="">All</option>
					<option value="low">Low</option>
					<option value="medium">Medium</option>
					<option value="high">High</option>
					<option value="critical">Critical</option>
					<option value="blocker">Blocker</option>
				</select>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="form-group">
				<label for="exampleInputPassword1" class="filterslable">Workflow Queue</label>
				<select class="form-control" ng-model="filters.workflow_queue">
					<option value="">All</option>
					<option value="triage">triage</option>
					<option value="perform">Perform</option>
					<option value="verifyandclose">Verify & Close</option>
					<option value="closed">closed</option>
				</select>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="form-group">
				<label for="exampleInputPassword1" class="filterslable">Current User</label>
				<select class="form-control" ng-model="filters.current_user" ng-options="user._id as user.name for user in projectUsers">
					<option value="">All</option>
				</select>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="form-group">
				<label for="exampleInputPassword1" class="filterslable">Created By User</label>
				<select class="form-control" ng-model="filters.created_by" ng-options="user._id as user.name for user in projectUsers">
					<option value="">All</option>
				</select>
			</div>
		</div>


		<div class="col-sm-2" ng-if="currentProject.settings.config.enable_categories">
			<div class="form-group">
				<label for="exampleInputPassword1" class="filterslable">Category</label>
				<select class="form-control" ng-model="filters.category" ng-options="cat._id as cat.name for cat in currentProject.settings.categories">
					<option value="">All</option>
				</select>
			</div>
		</div>


		<div class="col-sm-2">
			<div class="form-group">
				<label>&nbsp;</label>
				<button class="btn btn-info btn-block" ng-click="getBugs(1);">Search</button>
			</div>
		</div>
	</div>
</div>

<div class="row top10">
	<div class="col-sm-12 top10" ng-if="bugs.length == 0">
		<div class="col-sm-12" style="background-color: #f2f2f2;border: 1px solid #e4e4e4;padding: 10px;text-align: center">
			No Results Found
		</div>
	</div>
	<div class="col-sm-12 top10" style="height: 300px;overflow: auto" ng-if="bugs.length > 0">
		<table id="example1" class="table table-bordered table-striped" style="font-size: 12px !important;">
			<thead>
			<tr>
				<th style="width: 5%">S.No</th>
				<th style="width: 10%">Id</th>
				<th style="width: 35%">title</th>
				<th style="width: 10%">severity</th>
				<th style="width: 10%">status</th>
				<th style="width: 10%">workflow</th>
				<th style="width: 10%">created by</th>
				<th style="width: 10%">current user</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="bug in bugs track by $index">
				<td>{{$index+1}}</td>
				<td>
					<a ui-sref="^.edit({'projectid':currentProjectId,'bugid':bug._id})">
						{{bug.identifier}}
					</a>
				</td>
				<td class="celloverflow pointer" title="{{bug.title}}">{{bug.title}}</td>
				<td>{{bug.severity}}</td>
				<td>{{bug.status}}</td>
				<td>{{bug.workflow_queue}}</td>
				<td class="celloverflow">{{bug.created_by.name}}</td>
				<td class="celloverflow">{{bug.current_user.name ? bug.current_user.name:'Triage'}}</td>
			</tr>
		</table>
	</div>
	<div class="col-sm-12" ng-if="pages.length > 1">
		<div class="page-nation pull-right">
			<ul class="pagination pagination-large">
				<li class="pagenumbers" ng-repeat="page in pages track by $index" ng-click="getBugs(page);" ng-class="{'active':currentPage == page}">
					<span style="border-radius: 0px !important;" class="onhoverpointer">{{page}}</span>
				</li>
			</ul>
		</div>
	</div>
</div>






