<div class="row top30" ng-if="bugs.length == 0">
	<div class="col-sm-12">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<div class="alert alert-error">
				<strong>No Bugs!</strong>
			</div>
		</div>
	</div>
</div>
<div class="row top20" ng-if="bugs.length > 0">
	<div class="col-sm-12 top20" style="height: 300px;overflow: auto">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
			<tr>
				<th style="width: 5%">S.No</th>
				<th style="width: 10%">Id</th>
				<th style="width: 60%">title</th>
				<th style="width: 10%">severity</th>
				<th style="width: 15%">created by</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="bug in bugs track by $index">
				<td>{{$index+1}}</td>
				<td>
					<a ui-sref="^.bugs.edit({'projectid':currentProjectId,'bugid':bug._id})">
						{{bug.identifier}}
					</a>
				</td>
				<td class="celloverflow pointer" title="{{bug.title}}">{{bug.title}}</td>
				<td>{{bug.severity}}</td>
				<td class="celloverflow">{{bug.created_by.name}}</td>
			</tr>
		</table>
	</div>
	<div class="col-sm-12" ng-if="pages.length > 1">
		<div class="page-nation pull-right">
			<ul class="pagination pagination-large">
				<li class="pagenumbers" ng-repeat="page in pages track by $index" ng-click="getClosedBugs(page);" ng-class="{'active':currentPage == page}">
					<span style="border-radius: 0px !important;" class="onhoverpointer">{{page}}</span>
				</li>
			</ul>
		</div>
	</div>
</div>






