<section class="content-header">
	<h1 class="text-yellow">
		<i class="fa fa-tasks"></i>
		My Work
	</h1>
</section>
<section class="content">
	<div class="row top20" style="background-color: #f2f2f2;border: 1px solid #e4e4e4" ng-if="bugs.length > 0">
		<div class="col-sm-12">
			<div class="col-sm-3">
				<div class="form-group">
					<label class="filterslable">Projects</label>
					<select ng-options="project._id as project.name for project in projects" ng-model="filters.projectId" class="form-control">
						<option value="">All</option>
					</select>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="exampleInputPassword1" class="filterslable">Severity</label>
					<select class="form-control" ng-model="filters.severity">
						<option value="">All</option>
						<option value="low">Low</option>
						<option value="medium">Medium</option>
						<option value="high">High</option>
						<option value="critical">Critical</option>
						<option value="blocker">Blocker</option>
					</select>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="exampleInputPassword1" class="filterslable">Workflow Queue</label>
					<select class="form-control" ng-model="filters.workflow_queue">
						<option value="">All</option>
						<option value="perform">Perform</option>
						<option value="verifyandclose">Verify & Close</option>
					</select>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="exampleInputPassword1">&nbsp;</label>
					<button class="btn btn-info btn-block" ng-click="resetFilters();">Reset</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row top20" ng-if="bugs.length > 0">
		<div class="col-sm-12">
			<table id="example1" class="table table-bordered table-striped" style="font-size: 12px !important;">
				<thead>
				<tr>
					<th style="width: 5%">S.No</th>
					<th style="width: 10%">Id</th>
					<th style="width: 35%">title</th>
					<th style="width: 10%">severity</th>
					<th style="width: 10%">status</th>
					<th style="width: 10%">workflow</th>
					<th style="width: 10%">created by</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="bug in bugs | filter:{project_id : filters.projectId || ''} | filter:{severity : filters.severity} | filter:{workflow_queue : filters.workflow_queue} track by $index">
					<td>{{$index+1}}</td>
					<td>
						<a ui-sref="^.project.bugs.edit({'projectid':bug.project_id,'bugid':bug._id})">
							{{bug.identifier}}
						</a>
					</td>
					<td class="celloverflow pointer" title="{{bug.title}}">{{bug.title}}</td>
					<td>{{bug.severity}}</td>
					<td>{{bug.status}}</td>
					<td>{{bug.workflow_queue}}</td>
					<td class="celloverflow">{{bug.created_by.name}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row top20" ng-if="bugs.length == 0">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<div class="alert alert-error">
				<strong>You don't have any tasks assigned !</strong>
			</div>
		</div>
	</div>
</section>