<!--header-->
<header class="main-header">
	<!-- Logo -->
	<a class="logo">
		<!-- mini logo for sidebar mini 50x50 pixels -->
		<span class="logo-mini">BT</span>
		<!-- logo for regular state and mobile devices -->
		<span class="logo-lg"><b style="text-transform: capitalize !important;"> {{serverDetails.appName}}</b></span>
	</a>
	<!-- Header Navbar: style can be found in header.less -->
	<nav class="navbar navbar-static-top" role="navigation">
		<!-- Sidebar toggle button-->
		<a class="sidebar-toggle" data-toggle="offcanvas" role="button">
			<span class="sr-only">Toggle navigation</span>
		</a>
		<!-- Navbar Right Menu -->
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<li class="dropdown user user-menu">
					<a>
						<i class="fa fa-user"></i>
						{{user.name}}
					</a>
				</li>
				<!-- Control Sidebar Toggle Button -->
				<li>
					<a href="/portal/{{user.workspace_id}}/logout">
						<i class="fa fa-power-off"></i>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
<!--end of header-->