<div class="row top20" ng-if="projectUsers.length > 0">
	<div class="col-sm-12">
		<div class="col-sm-4">
		</div>
		<div class="col-sm-4">
			<select class="form-control" ng-model="metaData.searchUserRole">
				<option value="">All</option>
				<option value="admin">Admin</option>
				<option value="triage">Triage</option>
				<option value="developer">Developer</option>
			</select>
		</div>
		<div class="col-sm-4">
			<input type="text" class="form-control" placeholder="Search User" ng-model="metaData.searchUser">
		</div>
	</div>
	<div class="col-sm-12 top20">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
			<tr>
				<th>S.No</th>
				<th>Name</th>
				<th>Email Id</th>
				<th>Role</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="user in projectUsers | filter:{name:metaData.searchUser} | filter:{role:metaData.searchUserRole} track by $index">
				<td>{{$index+1}}</td>
				<td>
					<a>{{user.name}}</a>
				</td>
				<td>{{user.email}}</td>
				<td>{{user.role}}</td>
			</tr>
		</table>
	</div>
</div>



