<section class="content-header">
	<h1 class="text-yellow">
		<i class="fa fa-dashboard"></i>
		Projects
	</h1>
</section>
<section class="content" ng-if="projects.length > 0">
	<div class="row top20">
		<div class="col-sm-4">
			<input type="text" placeholder="Search Projects" ng-model="metaData.searchProject" class="form-control">
		</div>
	</div>
	<div class="row top20">
		<div class="col-md-4 col-sm-8 col-xs-12" ng-repeat="project in projects | filter:{name:metaData.searchProject} track by $index">
			<div class="info-box" ui-sref="triage.dashboard.project.bugs.home({projectid:project._id})">
				<span class="info-box-icon bg-aqua" style="text-transform: uppercase">{{project['name'][0]}}</span>
				<div class="info-box-content">
					<span class="info-box-text">{{project.name}}</span>
					<span class="info-box-text" style="font-size: 12px !important;"><i class="fa fa-calendar"></i> - <format-date data-date="{{project.created_at}}"></format-date></span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
		<div class="clearfix visible-sm-block"></div>
	</div>
</section>
<div class="col-sm-12" ng-if="projects.length == 0" style="margin-top: 60px">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<div class="alert alert-error">
			<strong>No Projects Assigned!</strong>
		</div>
	</div>
</div>