<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-left image">
				<img src="/resources/images/avatar5.png" class="img-circle" alt="User Image">
			</div>
			<div class="pull-left info">
				<p>{{user.name}}</p>
				<small>
					{{user.role}}
				</small>
			</div>
		</div>
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu">
			<li ui-sref-active="active">
				<a ui-sref="triage.dashboard.mywork">
					<i class="fa fa-tasks"></i>
					<span>My Work</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="triage.dashboard.home">
					<i class="fa fa-dashboard"></i>
					<span>Projects</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- /.sidebar -->
</aside>
<div class="content-wrapper" style="min-height: 916px;background-color: #fff">
	<ui-view></ui-view>
</div>




