<section class="content-header">
	<h1 class="text-yellow">
		<i class="fa fa-folder-open-o"></i>
		{{currentProject.name}}
	</h1>
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12">
			<!-- Custom Tabs -->
			<div class="nav-tabs-custom no-box-shadow">
				<ul class="nav nav-tabs">
					<li ui-sref-active="active">
						<a ui-sref="triage.dashboard.project.bugs({'projectid':currentProjectId})" aria-expanded="true">
							<i class="fa fa-bug"></i>
							Bug Management
						</a>
					</li>
					<li class="" ui-sref-active="active">
						<a aria-expanded="false" ui-sref="triage.dashboard.project.users
({'projectid':currentProjectId})">
							<i class="fa fa-user"></i>
							Project Team Members
						</a>
					</li>
					<li class="" ui-sref-active="active">
						<a aria-expanded="false" ui-sref="triage.dashboard.project.triage
({'projectid':currentProjectId})">
							<i class="fa fa-list-alt"></i>
							Triage Bugs
						</a>
					</li>
					<li class="" ui-sref-active="active">
						<a aria-expanded="false" ui-sref="triage.dashboard.project.closed
({'projectid':currentProjectId})">
							<i class="fa fa-folder"></i>
							Closed Bugs
						</a>
					</li>
					<li class="">
						<a aria-expanded="false">
							<i class="fa fa-cog"></i>
							Settings
						</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active">
						<ui-view></ui-view>
					</div>
					<!-- /.tab-pane -->
				</div>
				<!-- /.tab-content -->
			</div>
			<!-- nav-tabs-custom -->
		</div>
	</div>
</section>



