<div class="container">
	<header class="header">
		<h1>&nbsp;</h1>
	</header>
	<div class="">
		<article class="col-sm-12">
			<div class="col-md-8 col-md-offset-2">
				<!-- START Registration form -->
				<div class="panel panel-form">
					<!-- Form header -->
					<div class="panel-heading">
						<p class="">{{ serverDetails.appName }}</p>
					</div>
					<div class="panel-body">
						<form role="form">
							<!-- Username -->
							<div class="form-group">
								<label for="username" class="control-label">Organisation Name
									<span class="required-field">*</span>
								</label>
								<div class="has-feedback">
									<input type="text" class="form-control" ng-model="workspace.workspaceName"/>
									<span class="fa fa-home form-control-feedback" aria-hidden="true" style="margin-top: 10px"></span>
								</div>
								<p class="help-block">{{serverDetails.contextPath}}/workspace/&lt;organisation
													  name&gt;</p>
							</div>
							<div class="form-group">
								<label for="email" class="control-label">Name
									<span class="required-field">*</span>
								</label>
								<div class="has-feedback">
									<input type="text" class="form-control" ng-model="workspace.name"/>
									<span class="fa fa-user form-control-feedback" aria-hidden="true" style="margin-top: 10px"></span>
								</div>
							</div>
							<!-- Email -->
							<div class="form-group">
								<label for="email" class="control-label">Email
									<span class="required-field">*</span>
								</label>
								<div class="has-feedback">
									<input type="text" class="form-control" ng-model="workspace.email"/>
									<span class="fa fa-envelope form-control-feedback" aria-hidden="true" style="margin-top: 10px"></span>
								</div>
							</div>
							<!-- Passwords -->
							<div class="row">
								<div class="col-sm-6 form-group">
									<label for="password1" class="control-label">Password
										<span class="required-field">*</span>
									</label>
									<div class="has-feedback">
										<input type="password" class="form-control" ng-model="workspace.password"/>
										<span class="fa fa-lock form-control-feedback" aria-hidden="true" style="margin-top: 10px"></span>
									</div>
									<p class="help-block">At least 6 characters long.</p>
								</div>
								<div class="col-sm-6 form-group">
									<label for="password2" class="control-label">Re-enter password
										<span class="required-field">*</span>
									</label>
									<div class="has-feedback">
										<input type="password" class="form-control" ng-model="workspace.confirmPassword"/>
										<span class="fa fa-lock form-control-feedback" aria-hidden="true" style="margin-top: 10px"></span>
									</div>
								</div>
							</div>
							<!-- Create button -->
							<div class="form-group text-center">
								<button type="button" class="btn btn-info btn-block" ng-click="signup();" style="border-radius: 0px">
									Create Account
								</button>
							</div>
						</form>
					</div>
					<!-- Form footer -->
					<div class="panel-footer">
						<span class="required-field">*</span>
						- required field
					</div>
				</div>
				<!-- END Registration form -->
			</div>
		</article>
		<div class="clearfix"></div>
	</div>
</div>
