<div class="row top30" ng-if="projectUsers.length == 0">
	<div class="col-sm-12">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<div class="alert alert-error">
				<strong>No Users Found!</strong>
				Please associate the users to this project !
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<button class="btn btn-info btn-block" ng-click="getUsers();">
				<i class="fa fa-plus"></i>
				Add Team Member
			</button>
		</div>
	</div>
</div>
<div class="row top20" ng-if="projectUsers.length > 0">
	<div class="col-sm-12">
		<div class="col-sm-4">
			<button class="btn btn-info btn-block" ng-click="getUsers();">
				<i class="fa fa-plus"></i>
				Add Team Member
			</button>
		</div>
		<div class="col-sm-4">
			<select class="form-control" ng-model="metaData.searchUserRole">
				<option value="">All</option>
				<option value="admin">Admin</option>
				<option value="board">Board</option>
				<option value="developer">Developer</option>
			</select>
		</div>
		<div class="col-sm-4">
			<input type="text" class="form-control" placeholder="Search User" ng-model="metaData.searchUser">
		</div>
	</div>
	<div class="col-sm-12 top20">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
			<tr>
				<th>S.No</th>
				<th>Name</th>
				<th>Email Id</th>
				<th>Role</th>
				<th>Unlink</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="user in projectUsers | filter:{name:metaData.searchUser} | filter:{role:metaData.searchUserRole} track by $index">
				<td>{{$index+1}}</td>
				<td>
					<a>{{user.name}}</a>
				</td>
				<td>{{user.email}}</td>
				<td>{{user.role}}</td>
				<td ng-click="selectAnotherUser(user);"><i class="fa fa-remove"></i></td>
			</tr>
		</table>
	</div>
</div>
<div id="associateUserModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Add Team Member</h4>
			</div>
			<div class="modal-body">
				<div class="row top30" ng-if="unassociatedUsers.length == 0">
					<div class="col-sm-12">
						<div class="col-sm-2"></div>
						<div class="col-sm-8">
							<div class="alert alert-error">
								<strong>No Existing Users Found !</strong>
							</div>
						</div>
					</div>
				</div>
				<table id="example1" class="table table-bordered table-striped" ng-if="unassociatedUsers.length > 0">
					<thead>
					<tr>
						<th>S.No</th>
						<th>Name</th>
						<th>Email Id</th>
						<th>Role</th>
						<th>Select</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="user in unassociatedUsers track by $index">
						<td>{{$index+1}}</td>
						<td>{{user.name}}</td>
						<td>{{user.email}}</td>
						<td>{{user.role}}</td>
						<td ng-click="associateUser(user);"><i class="fa fa-hand-pointer-o"></i></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>


<div id="selectAnotherUser" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Replacement for the User <a>{{deleteThisUser.name}}</a></h4>
			</div>
			<div class="modal-body">
				<select class="form-control" ng-model="metaData.newSelectedUser">
					<option value="">Please Select</option>
					<option ng-repeat="user in projectUsers track by $index" value="{{user._id}}" ng-selected="metaData.newSelectedUser == user._id">{{user.name}}</option>
				</select>
				<br>
				<br>
				<div class="row">
					<div class="col-sm-12">
						<button class="btn btn-info pull-right" ng-click="dissociateUserConfirmation()">Proceed</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





