<section class="content-header">
	<h1 class="text-yellow">
		<i class="fa fa-users"></i>
		User Management
	</h1>
</section>
<section class="content">
	<div class="row top10">
		<div class="col-sm-12">
			<ol class="breadcrumb">
				<li>
					<a ui-sref="^.home">User Management</a>
				</li>
				<li class="active">{{currentUser.name}}</li>
			</ol>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default" style="border-radius: 0px !important;">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12 col-sm-8">
							<h2>{{currentUser.name}}</h2>
							<p><strong>Role: </strong> {{currentUser.role}} </p>
							<p><strong>Email: </strong> {{currentUser.email}} </p>
							<p><strong>Projects: </strong>
								<span ng-repeat="project in currentUser.projects track by $index" class="label label-info tags" style="margin-left: 5px !important;">{{project.name}}</span>
							</p>
						</div><!--/col-->
						<div class="col-xs-12 col-sm-4 text-center">
							<img src="http://api.randomuser.me/portraits/men/49.jpg" alt="" class="center-block img-circle img-responsive">
							<ul class="list-inline ratings text-center" title="Ratings">
								<li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
								<li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
								<li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
								<li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
								<li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
							</ul>
						</div><!--/col-->

						<div class="col-xs-12 col-sm-4">
							<h2><strong> 20,7K </strong></h2>
							<p><small>Followers</small></p>
							<button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
						</div><!--/col-->
						<div class="col-xs-12 col-sm-4">
							<h2><strong>245</strong></h2>
							<p><small>Following</small></p>
							<button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>
						</div><!--/col-->
						<div class="col-xs-12 col-sm-4">
							<h2><strong>43</strong></h2>
							<p><small>Snippets</small></p>
							<button type="button" class="btn btn-primary btn-block"><span class="fa fa-gear"></span> Options </button>
						</div><!--/col-->
					</div><!--/row-->
				</div><!--/panel-body-->
			</div><!--/panel-->
		</div>
	</div>

</section>












