<div class="panel-group" id="accordion">
	<!-- First Panel -->
	<div class="panel panel-default pointer" style="border-radius: 0px !important;">
		<div class="panel-heading">
			<h4 class="panel-title"
				data-toggle="collapse"
				data-target="#collapseOne">
				<i class="fa fa-clone"></i> Manage Project Categories
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="row">

					<div class="col-sm-4">
						<div class="input-group">
							<input type="text" class="form-control" ng-model="newCategory.name" placeholder="New Category Name">
   <span class="input-group-btn">
        <button class="btn btn-info" ng-click="addCategory();">
			<i class="fa fa-plus"></i>
			Create Category
		</button>
   </span>
						</div>
					</div>

					<div class="col-sm-3">
						<input type="text" placeholder="Search Categories" class="form-control" ng-model="metaData.searchCategoryString">
					</div>

				</div>

				<div class="row top20">
					<div class="col-sm-12">

						<table class="table table-bordered table-striped">
							<thead>
							<tr>
								<th>S.No</th>
								<th>Category Name</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="cat in currentProject.settings.categories | filter:{name:metaData.searchCategoryString} track by $index">
								<td>{{$index+1}}</td>
								<td>
									{{cat.name}}
								</td>
							</tr>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="panel panel-default pointer" style="border-radius: 0px !important;">
		<div class="panel-heading">
			<h4 class="panel-title"
				data-toggle="collapse"
				data-target="#collapseTwo">
				<i class="fa fa-bookmark-o"></i> Project Configuration
			</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-12">
						<input type="checkbox" class="checkbox" ng-model="currentProjectClone.settings.config.enable_categories" ng-change="enableOrDisableCategories();">
						<span>Enable Categories</span>
					</div>
					<div class="col-sm-12 top10">
						<input type="checkbox" class="checkbox" ng-model="currentProjectClone.settings.config.mandate_category_selection" ng-change="mandateCategorySelection();">
						<span>Mandate Category Selection</span>
					</div>
					<div class="col-sm-12 top10">
						<input type="checkbox" class="checkbox" ng-model="currentProjectClone.settings.config.enable_releases" ng-change="enableOrDisableReleases();">
						<span>Enable Releases</span>
					</div>
					<div class="col-sm-12 top10">
						<input type="checkbox" class="checkbox" ng-model="currentProjectClone.settings.config.mandate_release_selection" ng-change="mandateReleaseSelection();">
						<span>Mandate Release Selection</span>
					</div>
					<div class="col-sm-3 top10">
						<button class="btn btn-info" ng-click="saveSettingsconfiguration();"> Save Configuration</button>
					</div>
				</div>
			</div>
		</div>
	</div>





	<div class="panel panel-default pointer" style="border-radius: 0px !important;">
		<div class="panel-heading">
			<h4 class="panel-title"
				data-toggle="collapse"
				data-target="#collapseThree">
				<i class="fa fa-calendar-times-o"></i> Project Releases
			</h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">
					<div class="col-sm-3">
						<input placeholder="Release Name" type="text" class="form-control" ng-model="newRelease.name">
					</div>
					<div class="col-sm-3">
						<input placeholder="Release Date" type="date" class="form-control" ng-model="newRelease.date">
					</div>
					<div class="col-sm-2">
						<input type="button" class="btn btn-info btn-block" ng-click="addRelease();" value="Add">
					</div>
				</div>

				<div class="row top20">
					<div class="col-sm-12">

						<table class="table table-bordered table-striped">
							<thead>
							<tr>
								<th>S.No</th>
								<th>Name</th>
								<th>release date</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="release in currentProject.settings.releases | filter:{name:metaData.searchRelease} track by $index">
								<td>{{$index+1}}</td>
								<td>
									{{release.name}}
								</td>
								<td><format-date data-date="{{release.date}}"></format-date></td>
							</tr>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>





</div>
